blah
<br>
blah
<br> 
blah
<br>

{{#if user}}
  <div>
    <a href="/">Index</a>
    <a href="/logout">Logout</a>
  </div>
{{/if}}

{{!-- //need for each loop that prints each theRecipe
// work on recipes API once routes are functioning --}}

<div class="container-fluid">
  {{#each recipes}}
  {{!-- <div class="recipeList"> --}}
    <div class="recipeCol">
      <img src="{{this.image}}" class="recipe-images">

     <h2>{{this.title}}</h2>
     
     <h4>{{this.dishType}}</h4>
     
     <h4>{{this.cuisine}}</h4>
     
     <h4>{{this.level}}</h4>
     
     <h4>{{this.duration}}</h4>
     
     <ul>
       {{#each this.ingredients}}
     <li>{{this}}</li>
     {{/each}}
     </ul>
     
     <p>{{this.instructions}}</p>
    </div>
    
  {{/each}}
{{!-- </div> --}}
</div>