<link href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{{#if user}}
  {{!-- <div>
    <a href="/">Index</a>
    <a href="/logout">Logout</a>
  </div> --}}
{{/if}}

<div class="theCcontainer">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h1 class="text-white text-center theRecipes">Recipes</h1>
							</div>							
						</div>
					</div>
				</div>


<div id="theRecipes" class="container-fluid">
  {{#each recipes}}
    <div class="recipeCol">
      <a href="/individual-recipes/{{this.id}}"> <img src="{{this.image}}" class="recipe-images"> </a>
     <h2>{{this.title}}</h2>
     <h4>{{this.dishType}}</h4>
     <h4>{{this.cuisine}}</h4>
     <h4>{{this.level}}</h4>
     <h4>{{this.duration}}
        <i class="glyphicon glyphicon-time"></i>
     </h4> 
     <a id="send-data-update" class="btn btn-secondary" href="recipes/edit/{{this._id}}">Edit</a>
     <a id="send-data-delete" class="btn btn-secondary" href="/recipes/delete/{{this._id}}">Delete</a>
    </div>
   
  {{/each}}
  <br>
 
</div>
