<link href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<br>


<div class="secondHero-image">
  <div class="hero-text">
    <h1 style="font-size:50px" class="recipeSingleH1">Recipe</h1>
  </div>
</div>

{{#if user}}
  <div>
    <a href="/">Index</a>
    <a href="/logout">Logout</a>
  </div>
{{/if}}


<div class="theRecipes center"><h2>{{recipe.title}}</h2><br>
                              <h5>{{recipe.duration}} <i class="glyphicon glyphicon-time">
                              </i></h5>
                              <h5>{{recipe.dishType}}</h5>
                              <h6>{{recipe.level}}</h6>
</div>

<div id="theRecipes" class="container-fluid">

  <div class="container singleRecipeCol">
      <div class="product">
        <div class="product-photo">
          <img src="{{recipe.image}}" class="recipe-image">
        </div>
        <div class="product-detail">
          
          {{!-- <div class="product__price">{{recipe.dishType}}</div> --}}
          {{!-- <div class="product__price">{{recipe.cuisine}}</div> --}}
          {{!-- <div class="product__price"></div> --}}
          {{!-- <div class="product__price"> --}}
          <div class="product__subtitle">
            <ul>
              <li>
                {{#each recipe.ingredients}}
                 {{this}}
                  {{/each}}
                 </li>
                 </ul>
              </div>

            <div class="center theProduct__subtitle theDescription">
 
                                        <ol>
                                        {{#each recipe.instructions}}
                                        <li>{{this}}</li>
                                        {{/each}}
                                        </ol>
        </div>
      </div>
    </div>

    {{!-- <div class="singleRecipeCol"> --}}
     {{!-- <img src="{{recipe.image}}" class="recipe-image"> --}}
     {{!-- <h2>{{recipe.title}}</h2> --}}
     
     {{!-- <h4>{{recipe.dishType}}</h4> --}}
     
     {{!-- <h4>{{recipe.cuisine}}</h4> --}}
     
     {{!-- <h4>{{recipe.level}}</h4> --}}
     
     {{!-- <h4>{{recipe.duration}}
        <i class="glyphicon glyphicon-time"></i>
     </h4>  --}}
    
     
     {{!-- <ul>
       {{#each recipe.ingredients}}
     <li>{{this}}</li>
     {{/each}}
     </ul> --}}
     
     {{!-- <ol>
       {{#each recipe.instructions}}
     <li>{{this}}</li>
     {{/each}}
     </ol> --}}

     
     <br>

    {{!-- </div> --}}
</div>