

<div class="thirdHero-image">
  <div class="hero-text">
    <h1 style="font-size:50px" class="recipeH1">Search Results</h1>
  </div>
</div>

{{#if user}}
  {{!-- <div>
    <a href="/">Index</a>
    <a href="/logout">Logout</a>
  </div> --}}
{{/if}}



<div id="theRecipes" class="container-fluid">
  {{#each results  }}
    <div class="recipeCol">
      <a href="/individual-recipes/{{this.id}}"> <img src="{{this.image}}" class="recipe-images"> </a>
     <h2>{{this.title}}</h2>
     <h4>{{this.dishType}}</h4>
     <h4>{{this.cuisine}}</h4>
     <h4>{{this.level}}</h4>
     <h4>{{this.duration}}
        <i class="glyphicon glyphicon-time"></i>
     </h4> 
    </div>
   
  {{/each}}
  <br>
 
</div>